

class _${{className}} {

  {{publicClassName}} _publicWrapper;

  {{publicClassName}} get _toPublic{
    if (_publicWrapper == null)
      _publicWrapper = new {{publicClassName}}._fromInternal(this);
    return _publicWrapper;
  }

}

class {{publicClassName}} {

  {{className}} _private;
{{#generateConstructor}}
  {{>wrapper_constructor}}
{{/generateConstructor}}

  {{publicClassName}}._fromPrivate(this._private);

{{#fields}}
  {{>wrapper_field}}
{{/fields}}

{{#methods}}
  {{>wrapper_method}}
{{/methods}}
}
