{{#generateGetter}}
{{type}} get {{newName}} => _private.{{name}};
{{/generateGetter}}
{{#generateSetter}}
void set {{newName}}(type {{newName}}) { _private.{{name}} = {{newName}}; }
{{/generateSetter}}
