{{#defaultConstructor}}
{{publicClassName}}({{#requiredParams}}{{type}} {{newName}},{{/requiredParams}}{{#namedParams}}{ {{/namedParams}}{{#namedParams}}{{type}} {{newName}}{{/namedParams}}{{#namedParams}} }{{/namedParams}})
{{/defaultConstructor}}
